<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    Before <!--Some before text-->
    <br>
    <%- body %> <!--include everything else inside this body tag. Create a new file named index.ejs inside the view folder-->
    <br>
    After <!--Some after text-->
</body>
</html>